# Opcional: variables pensadas para ejecutar la app en Docker

DOCKER_HTTP_PORT=8000
DOCKER_APP_URL=http://localhost:8000

# Si SQL Server corre en tu PC, deja host.docker.internal.
# Si corre en otro servidor, usa su IP o nombre DNS.
DOCKER_DB_HOST=host.docker.internal

DB_CONNECTION=sqlsrv
DB_PORT=1433
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=true
